.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: auto;
}

.p-field,
.p-p-3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.p-field label,
.p-p-3 label {
  flex-shrink: 0;
  width: 15%;
  text-align: right;
}

.p-field input,
.p-field InputText,
.p-field p,
.p-p-3 .boton,
.p-p-3 .botonUpdate {
  width: 40%;
  margin-left: 2.5%;
}

 .p-field p {
  text-align: center;
  font-weight: bold;
}
